---
layout: false
permalink: planet-drupal-feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: "Planet Drupal Feed"
  subtitle: "RSS Feed to send Drupal-related posts to Planet Drupal"
  language: "en"
  url: "https://andy-blum.com/"
  author:
    name: "Andy Blum"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.articles | planetDrupal | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ utils.getFirstParagraph(post.content|htmlToAbsoluteUrls(absolutePostUrl)|safe)|safe }}</content>
  </entry>
  {%- endfor %}
</feed>
